[Unit]
Description=generation of web traffic

[Service]
User=webtrafficgen
TimeoutStartSec=0
ExecStart=/usr/bin/traffgen
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target